*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}
.Contenedor{
width: 1228px;
height:530px;
background-color: black;
padding: 0 auto;
margin-top: 100px;
}
.C_I_S{
    width: 820px;
    height: 70px;
    float: left;
}
.C_I{
    float: left;
    width: 800px;
    height: 530px;
    background-color: #EEEEEE;
}
.C_D{
    float: left;
    width: 427px;
    height: 530px;
    background-color: #EEEEEE;
    padding: 17px;
}
.C_D_S{
    width:374px;
    height: 120px;
    float: left;
  
    background-color: rgb(250, 3, 36);
    color: white;
    font-size: 60px;
    margin: 0px 10px;
padding: 28px 59px;
margin-top: 0px;
}
.L_01{
    color: black;
    font-size: 18px;
    padding-left: 5px;
}
.C_D_I{
    background-color: white;
    width: 382px;
    height: 497px;
    border: 4px solid rgba(139, 146, 159, 0.347);
    /*display: flex;
    flex-direction: row;*/
}

.F_01{
    width: 170px;
    height: 63px;
  float: left;
  padding: 14px 10px;
  
}
.F_02{
    width: 370px;
    height: 65px;
  float: left;
  padding: 18px 13px;
 
  
}
.C_2{
    width: 333px;
    height: 28px;
    margin-top: 3px;
}
.C_1{
    width: 160px;
    height: 28px;
    margin: 3px;
    float: left;
}
.F_03{
    float: left;
    width: 200px;
    height: 70px;
    font-size: 16px;
    padding: 14px 18px;
}
.F_04{
    float: left;
    width: 170px;
    height: 120px;
    font-size: 16px;
    
    padding-top: 14px;
    padding-left:86px;
}
.raya{
    float: left;
    width: 345px;
    margin-top: 23px;
    margin-left: 10px;
    height: 1px;
   background-color: rgb(71, 70, 70);
}
.buscador{
float: left;
    width: 620px;
    height: 43px;
border: 1px rgb(7, 210, 255) solid;
margin: 15px 20px;
padding: 7px;
}
.producto{
    width: 120px;
    height: 70px;
float: left; 
font-size: 23px;
margin-left: 30px;
padding-top: 10px;
}
.cuadrado{

    width: 770px;
    height: 200px;
    margin: 80px 22px;
    background-color: white;

}
.fila_01{
    height: 36px;
    width: 750px;
    float: left;
    
}
.fila_02{
    height: 28px;
    width: 750px;
    float: left;
    font-weight: bold;
}
.G_01{
    width:50px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.G_02{
    width:36px;
    float: left;
    height: 20px;
  
    margin-left: 15px;
    text-align: right;
    
}
.G_03{
    width:340px;
    float: left;
    margin-left: 30px;
}

.G_04{
    float: left;
    width:80px;
    padding-left: 10px;
    
}
.G_05{
    float: left;
    width:78px;
    height: 20px;
    text-align: center;
 margin-left: 17px;
}
.G_06{
padding-left: 23px;
    float: left;
    width:80px;
    text-align: center;
}
.raya_azul{
    width: 770px;
    height: 4px;
    float: left;
    margin-bottom: 8px;
    background-color: #5DB2FF;
}
.raya_gris{
    width: 770px;
    height: 1px;
    float: left;
        background-color: #A9A9A9;
margin-bottom: 10px;
    }
.w{
    width: 50px;
    height:48px;
}
